html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: "PT Sans", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.hide {
    display: none;
}

.nav-box.slide-out {
    transform: translateX(100%);
    transition: transform 2s;
}
.nav-box.slide-in {
    transition: transform 2s;
}
.slide-out > .nav-item {
    transform: translateX(100%);
}
.slide-in > .nav-item {
    transform: translateX(0%);
}

.nav-item:nth-child(1) {
    transition: transform 2s;
}
.nav-item:nth-child(2) {
    transition: transform 2.5s;
}
.nav-item:nth-child(3) {
    transition: transform 3s;
}
.nav-item:nth-child(4) {
    transition: transform 3.5s;
}

.nav-box, .slider-box {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.nav-item {
    color: white;
    font-family: "PT Sans", sans-serif;
    display: block;
    width: 100%;
    height: 25%;
    text-decoration: none;
    line-height: 7em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;

}

.about {
    background: url('../images/img-1.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.graphic-illustration {
    background: url('../images/img-2.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left 75%;
}

.modeling {
    background: url('../images/img-4.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.contact {
    background: url('../images/img-3.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.back {
    position: fixed;
    z-index: 10;
    top: 24px;
    right: 5%;
    background-color: rgba(0,0,0,0.8);
    border: 0;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.footer {
    width: 100%;
    padding: 2em 0;
    margin-top: 100px;
    text-align: center;
    font-size: 8pt;
    letter-spacing: 2px;
}

.sm {
    margin: 3px
}

.title-image {
    height: 100vh;
    margin-bottom: 100px;
}

.page-down {
    position: absolute;
    bottom: 0;
    left: 48%;
    border: 0;
    background: url('../images/cd-icon-arrow.svg') no-repeat;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.page-down:hover {
    animation: upDown 2s infinite;
}

@keyframes upDown {
    0% {bottom: 0;}
    50% {bottom: 2%;}
    100% {bottom: 0;}
}

.collapsed {
    display: none;
}

.name {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: normal;
}

.self-icon {
    width: 50%;
    max-width: 570px;
    margin: 4em auto 2em auto;
    text-align: center;
}

.bio {
    margin: auto;
    width: 90%;
    max-width: 800px;
    line-height: 2;
    color: #7d7c7b;
    text-align: center;
}

.gallery {
    margin: 0 1em;
    column-count: 2;
    column-gap: 1em;
}

.gallery-item {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0 0 1em;
}

.gallery .gallery-item {
    border: 1px solid black;
    cursor: pointer;
    transition: opacity 0.7s;
}

.gallery .gallery-item:hover {
    opacity: 0.7;
}

.slider-box {
    background-color: rgba(0,0,0,0.75);
    text-align: -webkit-center;
}

.slider-box * {
    display: block;
    max-height: 100%;
}

.slider-box .gallery-item {
    max-width: 80%;
    height: 80%;
    top: 10%;
}

.caption {
    color: white;
}

.arrow {
    height: 100%;
    width: 10%;
    position: absolute;
}

.previous {
    left: 0;
}

.next {
    right: 0;
    top: 0;
}

.model-box {
    margin: 3em auto;
    text-align: center;
}

@media (min-width: 700px){
    .gallery {
        column-count: 3;
    }
}

@media (min-width: 900px){
    .gallery {
        column-count: 4;
    }

    .nav-item {
        display: inline-block;
        width: 25%;
        height: 100%;
        line-height: 50em;
    }
    
    .nav-box.slide-out {
        transform: translateY(-100%);
        transition: transform 2s;
    }
    .nav-box.slide-in {
        transition: transform 2s;
    }
    .slide-out > .nav-item {
        transform: translateY(-100%);
    }
    .slide-in > .nav-item {
        transform: translateY(0%);
    }
}
